/node_modules
/public/hot
/public/js
/public/css
/public/storage
/public/images
/public/resources
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.composer.lock
.package-lock.json
.DS_Store
.temp_cache
.yarn